<a href="https://colab.research.google.com/github/alesouzaeu/Coursera_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Segmenting and Clustering Neighborhoods in Toronto

## Install the necessaries packages We will need

In [ ]:
!pip install requests2
!pip install beautifulsoup4
!pip install geocoder

Requirement already satisfied: requests2 in /usr/local/lib/python3.6/dist-packages (2.16.0)
Requirement already satisfied: urllib3<1.22,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests2) (1.21.1)
Requirement already satisfied: idna<2.6,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests2) (2.5)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests2) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests2) (2020.12.5)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)
Requirement already satisfied: geocoder in /usr/local/lib/python3.6/dist-packages (1.38.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: ratelim in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.1.6)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.21.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)

## Importing the libraries we will need.

In [130]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#Tirando Warnings do código
import warnings
warnings.filterwarnings('ignore')

## Making web scraping with Beautiful Soup 4 in Wikipedia URL

In [133]:
# I called the URL that contains the table we want.
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
response = requests.get(URL)
soup = BeautifulSoup(response.text, 'html.parser')
# Parseamos o Html desejado em variáveis para facilitar o trabalho
table = soup.find('table', {'class':'wikitable sortable'}).tbody

rows = table.find_all('tr')

columns = [v.text.replace('\n', '') for v in rows[0].find_all('th')]
# Defining the columns names with the web scraped texts.
df =  pd.DataFrame(columns=columns)
# Creating a loop to take a data at the right position in the dataframe.
for i in range(1, len(rows)):
  tds = rows[i].find_all('td')

  if len(tds) ==4:
      values = [tds[0].text, tds[1].text, tds[2].text.replace('\n','')]# eliminamos caracteres indesejados por meio do método .replace
  else:
    values = [td.text.replace('\n','') for td in tds ]# eliminamos caracteres indesejados por meio do método .replace
 
  df = df.append(pd.Series(values, index=columns), ignore_index=True)

In [134]:
# Printing the Header

df_header = pd.DataFrame(columns=columns)
df_header

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [135]:
# The Dataframe became like that.

df.head(10)

  Postal Code           Borough                                Neighbourhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

In [136]:
# We got out the Dataframe at json format.

df.to_json(r'list_of_postal_code_of_canada_m.json')

In [137]:
# We have imported the table to our notebook.
df = pd.read_json('list_of_postal_code_of_canada_m.json')

In [138]:
df

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [139]:
df.shape

(180, 3)

### Now, We have to throw out the 'Not assigned' data.

In [140]:
df = df.loc[df['Borough']!='Not assigned']

In [141]:
df.head(20)

   Postal Code  ...                                      Neighbourhood
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
5          M6A  ...                   Lawrence Manor, Lawrence Heights
6          M7A  ...        Queen's Park, Ontario Provincial Government
8          M9A  ...            Islington Avenue, Humber Valley Village
9          M1B  ...                                     Malvern, Rouge
11         M3B  ...                                          Don Mills
12         M4B  ...                    Parkview Hill, Woodbine Gardens
13         M5B  ...                           Garden District, Ryerson
14         M6B  ...                                          Glencairn
17         M9B  ...  West Deane Park, Princess Gardens, Martin Grov...
18         M1C  ...             Rouge Hill, Port Union, Highland Creek
20         M3C  ...                                          Don Mills
21         M4C  ...                                   Woodbine Heights
22         M5C  ...                                     St. James Town
23         M6C  ...                                 Humewood-Cedarvale
26         M9C  ...  Eringate, Bloordale Gardens, Old Burnhamthorpe...
27         M1E  ...                  Guildwood, Morningside, West Hill
30         M4E  ...                                        The Beaches

[20 rows x 3 columns]

In [142]:
df.shape

(103, 3)

### So, This is the shape of our dataframe

### Now We need to insert new columns to our dataset with Latitude and Longitude

In [143]:
#create 2 new columns to store lat/long - initalise to null
df['location_lat'] = ""
df['location_long'] = ""

#print first rows to sample
df.head()

  Postal Code           Borough  ... location_lat location_long
2         M3A        North York  ...
3         M4A        North York  ...
4         M5A  Downtown Toronto  ...
5         M6A        North York  ...
6         M7A  Downtown Toronto  ...

[5 rows x 5 columns]

### Here We are must to find the locations for each Postal Code with the Library GeoPy

In [144]:
# Use Geopy to fetch geocode data
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myApp")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['Postal Code'][i])
        
        #append lat/log to column using dataframe location
        df.loc[i, 'location_lat'] = location.latitude
        df.loc[i, 'location_long'] = location.longitude
    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i, 'location_lat'] = "null"
        df.loc[i, 'location_long'] = "null"
        
#print first rows as sample
df.head()

  Postal Code           Borough  ... location_lat location_long
2         M3A        North York  ...     -12.1983      -76.9623
3         M4A        North York  ...      49.4843         8.467
4         M5A  Downtown Toronto  ...      45.4406        28.018
5         M6A        North York  ...      53.7942      -1.75201
6         M7A  Downtown Toronto  ...      44.4282        26.166

[5 rows x 5 columns]

### Here We have to handle with the missing data.

In [145]:
df = df.loc[df['location_lat']!='null']

In [146]:
df = df.reset_index()

In [147]:
df = df.drop(['index'], axis=1)

### Nice! This is the Dataset we want!

In [148]:
df

   Postal Code           Borough  ... location_lat location_long
0          M3A        North York  ...     -12.1983      -76.9623
1          M4A        North York  ...      49.4843         8.467
2          M5A  Downtown Toronto  ...      45.4406        28.018
3          M6A        North York  ...      53.7942      -1.75201
4          M7A  Downtown Toronto  ...      44.4282        26.166
5          M1B       Scarborough  ...      45.2553      -76.2898
6          M3B        North York  ...      45.4393       28.0213
7          M4B         East York  ...      45.4406       28.0192
8          M5B  Downtown Toronto  ...      45.4408       28.0161
9          M6B        North York  ...      44.4274       26.1654
10         M1C       Scarborough  ...      50.4215       14.9213
11         M3C        North York  ...      44.4114       26.1689
12         M4C         East York  ...     -6.17325       39.2079
13         M9C         Etobicoke  ...      43.6441      -79.5889
14         M5E  Downtown Toronto  ...      43.6421      -79.3774
15         M1G       Scarborough  ...      43.7657      -79.2219
16         M4G         East York  ...      39.7496      -86.0401
17         M1H       Scarborough  ...      37.2603      -6.93278
18         M4H         East York  ...      51.9085       4.42848
19         M5H  Downtown Toronto  ...      43.6499      -79.3837
20         M2J        North York  ...      43.7798      -79.3662
21         M3J        North York  ...     -20.7258      -40.5347
22         M4J         East York  ...     -8.91083       13.2311
23         M5J  Downtown Toronto  ...      43.6393      -79.3828
24         M6J      West Toronto  ...      12.5115      -70.0133
25         M2K        North York  ...      19.8447       96.1602
26         M3K        North York  ...     -20.7248      -40.5336
27         M4K      East Toronto  ...      54.1144         17.95
28         M6K      West Toronto  ...      43.6371       -79.435
29         M2L        North York  ...      47.1095       2.40002
30         M6L        North York  ...        37.25      -7.19944
31         M2M        North York  ...      13.0387        121.48
32         M3M        North York  ...      47.0643     0.0148136
33         M4M      East Toronto  ...      17.0804       -96.719
34         M2N        North York  ...      43.7792      -79.4166
35         M6N              York  ...      43.6746      -79.4834
36         M6P      West Toronto  ...      43.6606      -79.4645
37         M2R        North York  ...       46.122       3.42199
38         M9R         Etobicoke  ...      43.6952      -79.5509
39         M5S  Downtown Toronto  ...      41.7882        12.668
40         M6S      West Toronto  ...      43.6499      -79.4798
41         M5V  Downtown Toronto  ...      43.6456       -79.393
42         M1W       Scarborough  ...      43.8155      -79.3277
43         M4X  Downtown Toronto  ...       43.668      -79.3693

[44 rows x 5 columns]