<a href="https://colab.research.google.com/github/alesouzaeu/Coursera_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Segmenting and Clustering Neighborhoods in Toronto

## Install the necessaries packages to make web scraping with beautiful soup 4

In [1]:
!pip install requests2
!pip install beautifulsoup4

Collecting requests2
  Downloading https://files.pythonhosted.org/packages/89/f0/7cd1a25af31a5d4971d2eac794b0bc31eb445b28cadd621d4ad04be5ae4c/requests2-2.16.0-py2.py3-none-any.whl (85kB)
     |████████████████████████████████| 92kB 3.1MB/s
Collecting urllib3<1.22,>=1.21.1
  Downloading https://files.pythonhosted.org/packages/24/53/f397db567de0aa0e81b211d81c13c41a779f14893e42189cf5bdb97611b2/urllib3-1.21.1-py2.py3-none-any.whl (131kB)
     |████████████████████████████████| 133kB 8.6MB/s
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests2) (2020.12.5)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests2) (3.0.4)
Collecting idna<2.6,>=2.5
  Downloading https://files.pythonhosted.org/packages/11/7d/9bbbd7bb35f34b0169542487d2a8859e44306bb2e6a4455d491800a5621f/idna-2.5-py2.py3-none-any.whl (55kB)
     |████████████████████████████████| 61kB 6.3MB/s
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: urllib3, idna, requests2
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Found existing installation: idna 2.10
    Uninstalling idna-2.10:
      Successfully uninstalled idna-2.10
Successfully installed idna-2.5 requests2-2.16.0 urllib3-1.21.1
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

## Importing the libraries we will need.

In [79]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Making web scraping with Beautiful Soup 4 in Wikipedia URL

In [80]:
}
# I called the URL that contains the table we want.
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
response = requests.get(URL)
soup = BeautifulSoup(response.text, 'html.parser')
# Parseamos o Html desejado em variáveis para facilitar o trabalho
table = soup.find('table', {'class':'wikitable sortable'}).tbody

rows = table.find_all('tr')

columns = [v.text.replace('\n', '') for v in rows[0].find_all('th')]
# Defining the columns names with the web scraped texts.
df =  pd.DataFrame(columns=columns)
# Creating a loop to take a data at the right position in the dataframe.
for i in range(1, len(rows)):
  tds = rows[i].find_all('td')

  if len(tds) ==4:
      values = [tds[0].text, tds[1].text, tds[2].text.replace('\n','')]# eliminamos caracteres indesejados por meio do método .replace
  else:
    values = [td.text.replace('\n','') for td in tds ]# eliminamos caracteres indesejados por meio do método .replace
 
  df = df.append(pd.Series(values, index=columns), ignore_index=True)

In [81]:
# Printing the Header

df_header = pd.DataFrame(columns=columns)
df_header

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [82]:
# The Dataframe became like that.

df.head(10)

  Postal Code           Borough                                Neighbourhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

In [83]:
# We got out the Dataframe at json format.

df.to_json(r'list_of_postal_code_of_canada_m.json')

In [84]:
# We have imported the table to our notebook.
df = pd.read_json('list_of_postal_code_of_canada_m.json')

In [85]:
df

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [86]:
df.shape

(180, 3)

In [101]:
# Now, We have to through out the 'Not assigned' data.

In [88]:
df = df.loc[df['Borough']!='Not assigned']

In [90]:
df.head(20)

   Postal Code  ...                                      Neighbourhood
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
5          M6A  ...                   Lawrence Manor, Lawrence Heights
6          M7A  ...        Queen's Park, Ontario Provincial Government
8          M9A  ...            Islington Avenue, Humber Valley Village
9          M1B  ...                                     Malvern, Rouge
11         M3B  ...                                          Don Mills
12         M4B  ...                    Parkview Hill, Woodbine Gardens
13         M5B  ...                           Garden District, Ryerson
14         M6B  ...                                          Glencairn
17         M9B  ...  West Deane Park, Princess Gardens, Martin Grov...
18         M1C  ...             Rouge Hill, Port Union, Highland Creek
20         M3C  ...                                          Don Mills
21         M4C  ...                                   Woodbine Heights
22         M5C  ...                                     St. James Town
23         M6C  ...                                 Humewood-Cedarvale
26         M9C  ...  Eringate, Bloordale Gardens, Old Burnhamthorpe...
27         M1E  ...                  Guildwood, Morningside, West Hill
30         M4E  ...                                        The Beaches

[20 rows x 3 columns]

In [98]:
df.shape

(103, 3)

So, This is the Dataframe's shape.